@font-face {
  font-family: 'EMcomic';
  src: local('EMcomic'),
       url('./fonts/EMcomic-Regular.ttf'),
       url('./fonts/EMcomic-Italic.ttf'),
       url('./fonts/EMcomic-Bold.ttf');
}

// :root {
//   font-family: EMcomic;
// }

body{
  margin: 0;
  font-family: EMcomic, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',

}

